<%# locals: (path:, column:, turbo_action:) %>

<div class="warped-table--table--cell">
  <% if controller.class.include?(Warped::Controllers::Sortable::Ui) && sorted? && sortable_field?(column.parameter_name) %>
    <% html_form_options = {}.tap do |hash| %>
      <% hash.merge!(filter_url_params) if try(:filtered?) %>
      <% hash.merge!(paginate_url_params) if try(:sorted?) %>
      <% hash.merge!(search_url_params) if try(:searched?) %>
    <% end %>

    <% column_sorted = sorted_field?(column.parameter_name) %>
    <% sort_direction = column_sorted ? current_action_sort_value.opposite_direction : default_sort_direction %>

    <%= button_to(path, { "data-turbo-action" => turbo_action, method: :get, params: html_form_options.merge(sort_key: column.parameter_name, sort_direction: sort_direction) }) do %>
      <% if column_sorted %>
        <% if current_action_sort_value.asc? %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
          </svg>
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
        <% end %>
      <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
        </svg>
      <% end %>
      <span> <%= column.display_name %> </span>
    <% end %>
  <% else %>
    <%= column.display_name %>
  <% end %>
</div>
